.emails {
  display: flex;
  flex-direction: column-reverse;
}

.email-showcase {
  display: flex;
  justify-content: space-between;
  margin-left: 4rem;
}

.ctrls {
  margin-right: 4rem;
}

.email-add {
  width: 50%;
  border-radius: 50px;
  background-color: transparent;
  padding-bottom: 5%;
  padding-top: 5%;
  box-shadow: 20px 9px 29px 7px #999999;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compose-txt {
  resize: none;
}

.send-btn {
  margin-top: 4%;
  background-color: rgba(0, 153, 255, 0.89);
  color: white;
  font-size: large;
  padding: 5px;
  width: 150px;
}
