.email-showcase {
  display: flex;
  justify-content: space-between;
  margin-left: 4rem;
}

.ctrls {
  margin-right: 4rem;
}

.email-add {
  width: 50%;
  border-radius: 50px;
  background-color: transparent;
  padding-bottom: 5%;
  padding-top: 5%;
  box-shadow: 20px 9px 29px 7px #999999;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compose-txt {
  resize: none;
}

.send-btn {
  margin-top: 4%;
  background-color: rgba(0, 153, 255, 0.89);
  color: white;
  font-size: large;
  padding: 5px;
  width: 150px;
}


.email-showcase {
  margin: auto;
  width: 80%;
  /* height: 50vh; */
}

.table-mail {
  /* margin-top: 1%; */
  border: solid black 1px;
  width: 100%;
line-height: 100px;
  /* padding: 2%; */
}


.obj {
  width: 10%;
  font-weight: bolder;
}

.body {
  width: 60%;
  text-align: center;
  /* font-size: 0.9rem; */
}

.star {
  text-align: end;
}

.mail-btn {
  margin: auto;
  text-align: center;
}

.mail-searchbox{
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
  margin-top: 2%;
}
