.email-showcase {
  display: flex;
  justify-content: space-between;
  margin-left: 4rem;
  margin: auto;
  width: 90%;
}

.ctrls {
  margin-right: 4rem;
}

.email-add {
  width: 50%;
  border-radius: 50px;
  background-color: transparent;
  padding-bottom: 5%;
  padding-top: 5%;
  box-shadow: 20px 9px 29px 7px #999999;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compose-txt {
  resize: none;
}

.send-btn {
  margin-top: 4%;
  background-color: rgba(0, 153, 255, 0.89);
  color: white;
  font-size: large;
  padding: 5px;
  width: 150px;
}

.table-mail {
  width: 100%;
  text-align: center;
}

.table-mail:hover {
  background-color: rgba(0, 153, 255, 0.432);
  cursor: pointer;
  font-weight: bold;
}

.obj {
  width: 10%;
  font-weight: bolder;
}

.body {
  width: 60%;
}

.star {
  text-align: end;
}

.mail-btn {
  margin: auto;
  text-align: center;
}

.mail-searchbox {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
  margin-top: 2%;
}


@media(max-width:920px){
  .email-add {
    width: 90%;
    box-shadow: inherit;
  }
}
@media(max-width:585px){
  .email-add {
    width: 90%;
    box-shadow: inherit;
  }

  .mail-searchbox {
    width: 50%;
  }
}