.img-preview {
    width: 100%;
    border-radius: 20px;
}

.note-list {
    margin: auto;
    margin-inline-end: 10%;
    margin-inline-start: 10%;
    text-align: center;
}

.filter-txt {
    border-radius: 20px;
    text-align: center;
    resize: none;
    border: none;
    margin: auto;
}

.filter-txt:focus {
    box-shadow: 6px 7px 2px 0px rgba(165, 165, 165, 0.8);
}

.note-preview {
    display: inline-block;
    border-radius: 20px;
    box-shadow: 6px 7px 2px 0px rgba(165, 165, 165, 0.8);
    width: 300px;
    margin: 5px;
    padding: 10px;
}

.note-preview:hover {
    transition: 0.5s;
    background-color: white !important;
}

.note-btn {
    display: none;
}

.note-preview textarea{
    font-size: large;
}

.note-preview:hover .note-btn{
    justify-content: center;
    display: flex;
}

.note-preview:hover textarea.filter-txt {
    transition: 0.5s;
    background-color: white !important;
}

h4.note.txt {
    margin: 0;
}

.color-preview {
    width: 20px;
    border: none;
    background-color: transparent;
}

.duplicate {
    width: 30px;
    cursor: pointer;
}

.btn-duplicate {
    background-color: transparent;
    border: none;
}

input[type=color],
input[type=checkbox] {
    cursor: pointer;
}

.fa.fa-files-o,
.fa.fa-trash {
    background-color: transparent;
    width: auto;
    border: none;
    cursor: pointer;
}

.fa-thumb-tack {
    border: none;
    background: transparent;
}

@media (max-width:585px) {
    .note-preview {  
        width: 80%;
    }

    .note-list {
        margin: auto;
        margin-inline-end: 1%;
        margin-inline-start: 1%;
        text-align: center;
    }
}