.app-footer {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.753);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}

.app-footer h3{
   margin: auto;
}
