.app-footer {
    height: 100px;
    background: linear-gradient(to right, #abbaab, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(39, 145, 180);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-footer h3{
   margin: auto;
}
