.app-header {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.753);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .app-header :first-child {
    padding-left: 30px;
  }
  .app-header nav {
    padding-right: 30px;
  }
  
  .app-header nav > *:not(:last-child) {
    padding-right: 20px;
  }

  .nav-header{
    display: flex;
  }

.main-header .header-container {
  color: white;
}

a.nav-bar{
  font-size: 1.5rem;
}
