.more {
  color: orangered;
  cursor: pointer;
}

.book-details {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

form.book-edit {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.prev-next {
  border-radius: 10px;
  cursor: pointer;
  margin-inline-end: 1rem;
  margin-inline-start: 1rem;
  box-shadow: 3px 3px 3px 3px;
  padding: 5px;
}

.prev-next:hover {
  font-weight: bold;
  background-color: orangered;
}