.book-filter {
    margin: auto;
  }
  
  .filter {
    width: auto;
    height: 30px;
    border-radius: 15px;
  }
  
  .filter-btn {
    width: 150px;
    height: 30px;
    background-color: orangered;
    color: white;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .filter-btn:hover {
    background-color: black;
    color: orangered;
  }